<div class="h-event vevent">
  {{ $url := .Permalink -}}
  {{ with .Params.syndication -}}
    {{ $url = index . 0 -}}
  {{ end -}}
  <h3 class="p-name summary"><a class="u-url url" href="{{ $url }}">{{ .Params.Title }}</a></h3>
  {{ $start := (time .Params.start) -}}
  {{ $end := (time .Params.end) -}}
  <time class="dt-start dtstart" datetime="{{ $start.Format $.Site.Params.ISO8601 }}">{{ $start.Format $.Site.Params.humanDate }}</time> - <time class="dt-end dtend" datetime="{{ $end.Format $.Site.Params.ISO8601 }}">{{ $end.Format "3pm" }}</time>
  {{ with .Params.location -}}
    {{ range . -}}
      <div class="p-location h-card">
        <a class="p-name p-org u-url" href="{{ .url }}">{{ .name }}</a>
        {{ with $card := index . "h-card" -}}
          {{ range $prop := (slice "street-address" "locality" "region" "postal-code") -}}
            {{ with index $card . -}}
              <span class="p-{{ $prop }}">{{ . }}</span>
            {{ end -}}
          {{ end -}}
        {{ end -}}
      </div>
    {{ end -}}
  {{ end -}}
  <div class="e-content">
    {{ .Content }}
  </div>
  {{ with .Params.syndication -}}
    also on:
    {{ range . -}}
      <a class="u-syndication" href="{{ . }}">{{ . }}</a>
    {{ end -}}
  {{ end -}}
</div>
