<!doctype html>
<html>
<head>
<link rel="authorization_endpoint" href="https://indieweb-nyc-auth.glitch.me/">
<link rel="token_endpoint" href="https://tokens.indieauth.com/token">
<title>{{ .Site.Title }}</title>
</head>
<body>
<h1 class="h-card"><a class="u-url u-uid p-name" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
<section class="h-feed" id="events">
  <h2 class="p-name">IndieWeb Events</h2>
  <a href="webcal://indieweb.nyc/calendar.ics">📅 Subscribe to Calendar</a>
  <section>
    <h3>Upcoming Events</h3>
    {{ $events := where (where (where .Site.Pages.ByPublishDate ".Section" "=" "events") ".Kind" "page") ".Date" ">=" now -}}
    {{ range (sort $events "Params.start" "asc") -}}
      {{ partial "list-event.html" . }}
    {{ end -}}
  </section>
  <section>
    <h3>Past Events</h3>
    {{ $events := where (where (where .Site.Pages.ByPublishDate ".Section" "=" "events") ".Kind" "page") ".Date" "<=" now -}}
    {{ range (sort $events "Params.start" "desc") -}}
      {{ partial "list-event.html" . }}
    {{ end -}}
  </section>
</section>
</body>
</html>
